* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: #1E90FF;
}

header {
    background-color: #1E90FF;
    display: flex;
    justify-content: center;
    padding-top: 3%;
}

#titleContainer {
    background-color: #fff;
    height: 80px;
    width: 40%;
    text-align: center;
}

#titleContainer>h1 {
    color: #1E90FF;
    font-weight: 600;
    margin-top: 2%;
    text-transform: uppercase;
}

#playerRockClone, #playerScissorsClone, #playerPaperClone {
    display: none;
}

main {
    background-color: #1E90FF;
    height: 100%;
}

.optionContainer {
    display: flex;
    justify-content: space-around;
}

.option, .optionRandom {
    height: 120px;
    width: 100px;
    color: #fff;
    border: solid 1px #fff;
    border-radius: 5px;
    margin-left: 10px;
    text-align: center;
    margin-top: 5%;
    cursor: pointer;
}

.optionRandom {
    display: none;
}

.option:hover {
    background-color: #fff;
    color: darkblue;
    transform: translateY(-15px);
    transition: 0.5s;
}

.option>i, .optionRandom>i {
    font-size: 50px;
    margin-top: 30px;
}

.resultOptionRandom {
    background-color: #fff;
    color: #1E90FF;
}

#vsContainer {
    height: 45px;
    margin-top: 4%;
    display: none;
}

#result {
    color: #fff;
    font-weight: bold;
    display: none;
}

#btnContainer {
    height: 80px;
    width: 100%;
    margin-top: 5%;
    display: none;
}

#restart {
    width: 320px;
    height: 35px;
    background-color: transparent;
    color: #fff;
    border: solid 1px #fff;
    border-radius: 5px;
    display: none;
    padding-top: 3px;
    text-align: center;
    text-decoration: none;
}

#restart:hover {
    background-color: #fff;
    color: #1E90FF;
    transition: 0.5s;
}